/**
 *  Copyright Erwan Loisant 2008
 *
 *  This file may be used under the terms of the
 *  GNU General Public License Version 2 or later (the "GPL"),
 *  http://www.gnu.org/licenses/gpl.html
 *
 *  Software distributed under the License is distributed on an "AS IS" basis,
 *  WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
 *  for the specific language governing rights and limitations under the
 *  License.
 */

#vgspy-sidebar {
  background-color: white;
}

* {
  font-size: 10px;
}

/* :::::::::::::: Search Box ::::::::::::::: */

#searchContainer {
  font-size: 10px;
}

/* :::::::::::::: Game ID Card ::::::::::::::: */

#gameIDCard {
  padding: 10px;
  margin: 5px;
  background-color: #FFAE62;
  background: repeat-x;
  background-image: url("chrome://vgspy/skin/yellow-gradient.png");
  -moz-border-radius: 10px;
}

#vgspyPanelTitle {
  color: black;
  font-family: "Lucida Grande",Tahoma,Verdana,Arial,Helvetica,sans-serif;
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 5px;
}

#vgspyPanelSubtitle,
#vgspyPlatform,
#vgspyRating,
#vgspyDate
{
  font-size: 8px;
  margin-left: 5px;
  color: black;
  font-family: "Lucida Grande",Tahoma,Verdana,Arial,Helvetica,sans-serif;
}

#vgspyPlatform {
  padding-top: 10px;
}

/* :::::::::::::: YouTube player ::::::::::::::: */

ytplayer menulist {
  color: black;
  font-family: "Lucida Grande",Tahoma,Verdana,Arial,Helvetica,sans-serif;
  font-size: 8px;
}


/* :::::::::::::: Other sections ::::::::::::::: */

.vgTitle {
  background: repeat-x;
  background-image: url("chrome://vgspy/skin/red-gradient.png");
  height: 25px;
  padding-left: 4px;
  padding-top: 2px;
}

.vgTitle label {
  color: white;
  font-family: "Lucida Grande",Tahoma,Verdana,Arial,Helvetica,sans-serif;
  font-weight: bold;
  font-size: 10px;
}

.priceLabel {
  color: black;
  font-family: "Lucida Grande",Tahoma,Verdana,Arial,Helvetica,sans-serif;
  font-weight: bold;
  font-size: 10px;
  padding-left: 5px;
  padding-top: 10px;
  margin-left: 5px;
}

.vgBox {
  padding: 5px;
  margin: 5px;
}

.vgPriceBox {
  padding-left: 10px;
  margin-left: 10px;
}

.priceLink {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

/* :::::::::::::: Metacritic scores ::::::::::::::: */

.highscore {
  background-color: lightgreen;
}

.mediumscore {
  background-color: yellow;
}

.lowscore {
  background-color: red;
}
